<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" id="WebApp_ID" version="3.1"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<display-name>LZUODS</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>ods.webroot</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.util.WebAppRootListener</listener-class>
	</listener>

	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceRequestEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>forceResponseEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
	  <filter-name>FilterIP</filter-name>
	  <filter-class>com.gsb.Filters.IpFilter</filter-class>
	  <!-- 配置初始化参数 -->
	  <init-param>
	  <!-- 配置允许通过的IP -->
	  <param-name>FilteredIP</param-name>
	  <param-value>58.206.17</param-value>
	  </init-param>
	  <init-param>
	  <!-- 配置不过滤的jsp页面 -->
	  <param-name>noFilteredJsp</param-name>
	  <param-value>error.jsp</param-value>
	  </init-param>
	</filter>
	<filter-mapping>
	  <filter-name>FilterIP</filter-name>
	  <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
	  <filter-name>FilterLogin</filter-name>
	  <filter-class>com.gsb.Filters.LoginFilter</filter-class>
	  <!-- 配置初始化参数 -->
	  <init-param>
	  <!-- 配置不过滤的jsp页面 -->
	  <param-name>noFilteredJsp</param-name>
	  <param-value>/LGM/</param-value>
	  </init-param>
	</filter>
	<filter-mapping>
	  <filter-name>FilterLogin</filter-name>
	  <url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>main</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>main</servlet-name>
		<url-pattern>/test/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HumanManageModule</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:config/HumanManageModule-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>HumanManageModule</servlet-name>
		<url-pattern>/HMM/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SocietyManageModule</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:config/SocietyManageModule-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>SocietyManageModule</servlet-name>
		<url-pattern>/SYM/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WorkManageModule</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:config/WorkManageModule-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>WorkManageModule</servlet-name>
		<url-pattern>/WKM/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>name_only</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:config/TestNameOnly-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>name_only</servlet-name>
		<url-pattern>/NameOnlyTest/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>with_title</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:config/TestKlassWithTitle-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>with_title</servlet-name>
		<url-pattern>/WithTitle/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LoginManageModule</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:config/LoginManageModule-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginManageModule</servlet-name>
		<url-pattern>/LGM/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SympathyManageModule</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:config/SympathyManageModule-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>SympathyManageModule</servlet-name>
		<url-pattern>/SPM/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FileShareManageModule</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:config/FileShareManageModule-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileShareManageModule</servlet-name>
		<url-pattern>/FSM/*</url-pattern>
	</servlet-mapping>
	
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:root-context.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>


	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/WEB-INF/error.jsp</location>
	</error-page>

</web-app>