<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gsb.BasicObject.MBGDAO.SocietyMapper">
  <resultMap id="BaseResultMap" type="com.gsb.BasicObject.MBGPOJO.Society">
    <id column="society_no" jdbcType="INTEGER" property="societyNo" />
    <result column="society_name" jdbcType="VARCHAR" property="societyName" />
    <result column="society_leader" jdbcType="VARCHAR" property="societyLeader" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.gsb.BasicObject.MBGPOJO.Society">
    <result column="society_remark" jdbcType="LONGVARCHAR" property="societyRemark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    society_no, society_name, society_leader
  </sql>
  <sql id="Blob_Column_List">
    society_remark
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.gsb.BasicObject.MBGPOJO.SocietyExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from society_table
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.gsb.BasicObject.MBGPOJO.SocietyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from society_table
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from society_table
    where society_no = #{societyNo,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from society_table
    where society_no = #{societyNo,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gsb.BasicObject.MBGPOJO.SocietyExample">
    delete from society_table
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gsb.BasicObject.MBGPOJO.Society">
    insert into society_table (society_no, society_name, society_leader, 
      society_remark)
    values (#{societyNo,jdbcType=INTEGER}, #{societyName,jdbcType=VARCHAR}, #{societyLeader,jdbcType=VARCHAR}, 
      #{societyRemark,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gsb.BasicObject.MBGPOJO.Society">
    insert into society_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="societyNo != null">
        society_no,
      </if>
      <if test="societyName != null">
        society_name,
      </if>
      <if test="societyLeader != null">
        society_leader,
      </if>
      <if test="societyRemark != null">
        society_remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="societyNo != null">
        #{societyNo,jdbcType=INTEGER},
      </if>
      <if test="societyName != null">
        #{societyName,jdbcType=VARCHAR},
      </if>
      <if test="societyLeader != null">
        #{societyLeader,jdbcType=VARCHAR},
      </if>
      <if test="societyRemark != null">
        #{societyRemark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gsb.BasicObject.MBGPOJO.SocietyExample" resultType="java.lang.Long">
    select count(*) from society_table
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update society_table
    <set>
      <if test="record.societyNo != null">
        society_no = #{record.societyNo,jdbcType=INTEGER},
      </if>
      <if test="record.societyName != null">
        society_name = #{record.societyName,jdbcType=VARCHAR},
      </if>
      <if test="record.societyLeader != null">
        society_leader = #{record.societyLeader,jdbcType=VARCHAR},
      </if>
      <if test="record.societyRemark != null">
        society_remark = #{record.societyRemark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update society_table
    set society_no = #{record.societyNo,jdbcType=INTEGER},
      society_name = #{record.societyName,jdbcType=VARCHAR},
      society_leader = #{record.societyLeader,jdbcType=VARCHAR},
      society_remark = #{record.societyRemark,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update society_table
    set society_no = #{record.societyNo,jdbcType=INTEGER},
      society_name = #{record.societyName,jdbcType=VARCHAR},
      society_leader = #{record.societyLeader,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gsb.BasicObject.MBGPOJO.Society">
    update society_table
    <set>
      <if test="societyName != null">
        society_name = #{societyName,jdbcType=VARCHAR},
      </if>
      <if test="societyLeader != null">
        society_leader = #{societyLeader,jdbcType=VARCHAR},
      </if>
      <if test="societyRemark != null">
        society_remark = #{societyRemark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where society_no = #{societyNo,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.gsb.BasicObject.MBGPOJO.Society">
    update society_table
    set society_name = #{societyName,jdbcType=VARCHAR},
      society_leader = #{societyLeader,jdbcType=VARCHAR},
      society_remark = #{societyRemark,jdbcType=LONGVARCHAR}
    where society_no = #{societyNo,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gsb.BasicObject.MBGPOJO.Society">
    update society_table
    set society_name = #{societyName,jdbcType=VARCHAR},
      society_leader = #{societyLeader,jdbcType=VARCHAR}
    where society_no = #{societyNo,jdbcType=INTEGER}
  </update>
</mapper>