<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BasicObject.MBGDAO.SociatyMapper">
  <resultMap id="BaseResultMap" type="BasicObject.MBG.Sociaty">
    <id column="sociaty_no" jdbcType="INTEGER" property="sociatyNo" />
    <result column="sociaty_name" jdbcType="VARCHAR" property="sociatyName" />
    <result column="sociaty_leader" jdbcType="VARCHAR" property="sociatyLeader" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="BasicObject.MBG.Sociaty">
    <result column="sociaty_remark" jdbcType="LONGVARCHAR" property="sociatyRemark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    sociaty_no, sociaty_name, sociaty_leader
  </sql>
  <sql id="Blob_Column_List">
    sociaty_remark
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="BasicObject.MBG.SociatyExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sociaty_table
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="BasicObject.MBG.SociatyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sociaty_table
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sociaty_table
    where sociaty_no = #{sociatyNo,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sociaty_table
    where sociaty_no = #{sociatyNo,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="BasicObject.MBG.SociatyExample">
    delete from sociaty_table
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="BasicObject.MBG.Sociaty">
    insert into sociaty_table (sociaty_no, sociaty_name, sociaty_leader, 
      sociaty_remark)
    values (#{sociatyNo,jdbcType=INTEGER}, #{sociatyName,jdbcType=VARCHAR}, #{sociatyLeader,jdbcType=VARCHAR}, 
      #{sociatyRemark,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="BasicObject.MBG.Sociaty">
    insert into sociaty_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sociatyNo != null">
        sociaty_no,
      </if>
      <if test="sociatyName != null">
        sociaty_name,
      </if>
      <if test="sociatyLeader != null">
        sociaty_leader,
      </if>
      <if test="sociatyRemark != null">
        sociaty_remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sociatyNo != null">
        #{sociatyNo,jdbcType=INTEGER},
      </if>
      <if test="sociatyName != null">
        #{sociatyName,jdbcType=VARCHAR},
      </if>
      <if test="sociatyLeader != null">
        #{sociatyLeader,jdbcType=VARCHAR},
      </if>
      <if test="sociatyRemark != null">
        #{sociatyRemark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="BasicObject.MBG.SociatyExample" resultType="java.lang.Long">
    select count(*) from sociaty_table
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sociaty_table
    <set>
      <if test="record.sociatyNo != null">
        sociaty_no = #{record.sociatyNo,jdbcType=INTEGER},
      </if>
      <if test="record.sociatyName != null">
        sociaty_name = #{record.sociatyName,jdbcType=VARCHAR},
      </if>
      <if test="record.sociatyLeader != null">
        sociaty_leader = #{record.sociatyLeader,jdbcType=VARCHAR},
      </if>
      <if test="record.sociatyRemark != null">
        sociaty_remark = #{record.sociatyRemark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update sociaty_table
    set sociaty_no = #{record.sociatyNo,jdbcType=INTEGER},
      sociaty_name = #{record.sociatyName,jdbcType=VARCHAR},
      sociaty_leader = #{record.sociatyLeader,jdbcType=VARCHAR},
      sociaty_remark = #{record.sociatyRemark,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sociaty_table
    set sociaty_no = #{record.sociatyNo,jdbcType=INTEGER},
      sociaty_name = #{record.sociatyName,jdbcType=VARCHAR},
      sociaty_leader = #{record.sociatyLeader,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="BasicObject.MBG.Sociaty">
    update sociaty_table
    <set>
      <if test="sociatyName != null">
        sociaty_name = #{sociatyName,jdbcType=VARCHAR},
      </if>
      <if test="sociatyLeader != null">
        sociaty_leader = #{sociatyLeader,jdbcType=VARCHAR},
      </if>
      <if test="sociatyRemark != null">
        sociaty_remark = #{sociatyRemark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where sociaty_no = #{sociatyNo,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="BasicObject.MBG.Sociaty">
    update sociaty_table
    set sociaty_name = #{sociatyName,jdbcType=VARCHAR},
      sociaty_leader = #{sociatyLeader,jdbcType=VARCHAR},
      sociaty_remark = #{sociatyRemark,jdbcType=LONGVARCHAR}
    where sociaty_no = #{sociatyNo,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="BasicObject.MBG.Sociaty">
    update sociaty_table
    set sociaty_name = #{sociatyName,jdbcType=VARCHAR},
      sociaty_leader = #{sociatyLeader,jdbcType=VARCHAR}
    where sociaty_no = #{sociatyNo,jdbcType=INTEGER}
  </update>
</mapper>