body {
    padding-top: 51px;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    width: 160px !important;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

/*
 * Main content
 */

.main {
  padding: 20px;
  margin-left: 180px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 10px;
    padding-left: 10px;
  }
}
.main .page-header {
  margin-top: 0;
}



.navbar-form input[type="text"] {
    width: 50%;
    background: #FFFFFF;
    border: thin solid #999999;
    color: #999;
}

.navbar-form {
    position: relative;
}

.navbar-form button[type="submit"] {
    font-size: 20px;
    vertical-align: middle;
    background: none;
    border: none;
}

.navbar-form .glyphicon {
	line-height: 142px;
	vertical-align: middle;
    color: #FF4F40;
    font-size: 72px;
}

.table th {
	color: #3B78E7;
}

.table td {
    font-size: 90%;
}

.col-md-2 a {
    display: block;
    color: #999;
    -webkit-transition: background-color 0.3s ease, color 0.3s ease, border-bottom 0.3s ease;
    -moz-transition: background-color 0.3s ease, color 0.3s ease, border-bottom 0.3s ease;
    -o-transition: background-color 0.3s ease, color 0.3s ease, border-bottom 0.3s ease;
    transition: background-color 0.3s ease, color 0.3s ease, border-bottom 0.3s ease;
}

.table {
    font-size: 14px;
    table-layout:fixed;
    word-break:break-all;
}

.btn {
	margin-left: 8px;
}

.current {
	background: #c02b48;
	color: #FFF !important;
}